<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Trang chu</title>
</head>
<body>
  <%- include('./component/header') %>

  <form action="" method="post" class="form_login">
    <label>Wellcome back</label>
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
  </form>

  <%- include('./component/footer') %>
</body>
</html>
